body {
  width: 60%;
  margin: 0 auto;
}

.App {
  margin-top: 100px;
  width: 500px;
  height: 300px;
}

.ant-form-customize {
  width: 300px;
  padding: 8px 16px;
}

.buttons {
  width: 300px;
  display: flex;
  justify-content: space-between;
  margin-top: 26px;
}

/* span {
  margin-left: 20px;
} */

.dish-title {
  display: flex;
}

.review-dish {
  border: 1px solid black;
  text-decoration: none;
  list-style: none;
  width: 200px;
  padding: 4px;
  margin-left: 6px;
}
